@{
    ViewData["Title"] = "Home Page";
}

@model ViewModal;


    <input type="hidden" value="" id="txtUsername" />
    <input type="hidden" value="" id="txtFullname" />



    <div class="column" style="margin-top:50px">
        <button type="button" class="ui labeled icon blue button"><i class="refresh icon"></i>Refresh User List</button>
        <button type="button" class="ui labeled icon red button" onclick="manage.clearUserSelection()"><i class="close icon"></i>Clear User Selection</button>
        <div style="margin-top: 20px">
            <table id="usersTable" class="ui celled inverted table" style="width:100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Username</th>
                        <th>Full Name</th>
                        <th>Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="column" style="margin-top:50px">
        <button type="button" class="ui labeled icon blue button" onclick="manage.addNewPermission()" id="btnAddPermission" disabled><i class="plus icon"></i>Bind New Permission</button>
        <button type="button" class="ui labeled icon blue button" onclick="manage.addNewPermissionGroup()" id="btnAddPermissionGroup" disabled><i class="plus icon"></i>Bind New Permission Group</button>
        <div class="ui orange message transition" id="infobar" style="display: none">
            <div class="header" id="infobartext">Your user registration was successful.</div>
        </div>
        <div class="ui segment" style="height:80px; display:none" id="userPermissionLoader">
            <div class="ui active dimmer">
                <div class="ui mini text loader" id="userPermissionLoaderText">Loading...</div>
            </div>
            <p></p>
        </div>
        <div style="margin-top: 20px; display:none" id="permissionviewTableContainer">
            <table id="permissionviewTable" class="ui celled inverted table" style="width:100%;">
                <thead>
                    <tr>
                        <th>Enabled Permission</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Enabled Permission</th>
                        <th>Description</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="column">
        <button type="button" class="ui labeled icon blue button" id="btnAddPermission" disabled><i class="plus icon"></i>Create New Permission Group</button>
        <div style="margin-top:20px">
            <table id="permissiongroupviewTable" class="ui celled inverted table" style="width:100%">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Username</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Selection</th>
                        <th>Username</th>
                        <th>Full Name</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="column">
        <button type="button" class="ui labeled icon blue button" id="btnAddPermission" disabled><i class="plus icon"></i>Create New Permission</button>
        <div class="">
            <table id="permissionTable" class="ui celled inverted table" style="width:100%">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Username</th>
                        <th>Full Name</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Selection</th>
                        <th>Username</th>
                        <th>Full Name</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>



    <div class="ui tiny modal" id="addPermissionModal">
        <i class="close icon"></i>
        <div class="header">Select Permissions To Bind</div>
        <div class="content">
            <div class="ui orange message transition" id="permissioninfo">
                <div class="header" id="infobartext">Your user registration was successful.</div>
            </div>
            <table id="disabledPermissionTable" class="ui celled inverted table" style="width:100%">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Permission</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Selection</th>
                        <th>Permission</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="actions">
            <button type="button" class="ui basic secondary button">Clear Selection</button>
            <button type="button" class="ui primary button" onclick="manage.bindNewPermissions()">Bind Permissions</button>
        </div>
    </div>



    <div class="ui tiny modal" id="addPermissionGroupModal">
        <i class="close icon"></i>
        <div class="header">Select Permission Group To Bind</div>
        <div class="content">
            <div class="ui orange message transition" id="permissioninfo">
                <div class="header" id="infobartext">Your user registration was successful.</div>
            </div>
            <table id="permissionGroupTable" class="ui celled inverted table" style="width:100%">
                <thead>
                    <tr>
                        <th>Selection</th>
                        <th>Permission Group</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Selection</th>
                        <th>Permission Group</th>
                        <th>Description</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="actions">
            <button type="button" class="ui basic secondary button">Clear Selection</button>
            <button type="button" class="ui primary button" onclick="manage.bindNewPermissionGroup()">Bind Permission Group</button>
        </div>
    </div>







    <script>
        //Init
        var usersTable = $('#usersTable').DataTable({
            "columnDefs": [
                {
                    "targets": 3,
                    "render": function (data, type, row, meta) {
                        return `<div class="ui animated primary button" tabindex="0" onclick = "manage.getPermissionsOfUser(usersTable.row(this).data()[2], usersTable.row(this).data()[1]);">
                                                                  <div class="visible content">Details</div>
                                                                  <div class="hidden content">
                                                                    <i class="right arrow icon"></i>
                                                                  </div>
                                                                </div>`;
                    }
                }]
        });
        var permissionviewTable = $('#permissionviewTable').DataTable({
            "columnDefs": [
                {
                    "targets": 2,
                    "render": function (data, type, row, meta) {

                        return `<div class="ui animated red button" tabindex="0" onclick = "manage.unbindPermission('` + row[0] + `');">
                                                                  <div class="visible content">UnBind</div>
                                                                  <div class="hidden content">
                                                                    <i class="right arrow icon"></i>
                                                                  </div>
                                                                </div>`;
                    }
                }]
        });
        var permissiongroupviewTable = $('#permissiongroupviewTable').DataTable();
        var permissionTable = $('#permissionTable').DataTable();







        var disabledPermissionTable = $('#disabledPermissionTable').DataTable({
            "bLengthChange": false,
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        return `<input type="checkbox" name='` + row[1] + `'/>`;
                    }
                }]
        });
        var permissionGroupTable = $('#permissionGroupTable').DataTable({
            "bLengthChange": false,
            "columnDefs": [
                {
                    "targets": 0,
                    "render": function (data, type, row, meta) {
                        return `<input type="checkbox" name='` + row[1] + `'/>`;
                    }
                }]
        });




        const manage = managementModule;
        manage.refreshUsersList();

        $('#usersTable tbody').on('click', 'tr', function () {
            var fullname = usersTable.row(this).data()[2];
            var username = usersTable.row(this).data()[1];
            manage.getPermissionsOfUser(fullname, username);
        });

        $('#disabledPermissionTable tbody').on('click', 'tr', function () {
            var checkbox = $(this).find("input[type=checkbox]");
            checkbox.prop("checked", !checkbox.prop("checked"));
        });

        $('#permissionGroupTable tbody').on('click', 'tr', function () {
            var checkbox = $(this).find("input[type=checkbox]");
            checkbox.prop("checked", !checkbox.prop("checked"));
        });


    </script>
